.contacts {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  padding: 2vh 5vw;
  align-items: center;
  width: 94vw;
  margin-bottom: 5vh;
}

input {
  background-color: var(--element-color);
  border: none;
  padding: 2vh 5%;
  border-radius: 1.5vh;
}

.form-group {
  display: grid;
  grid-template-areas: 
  "row"
  "message";
}
textarea {
  grid-area: message;
  background-color: var(--element-color);
  border: none;
  border-radius: 1.5vh;
  width: 100%;
  resize: none;
  padding: 2vh 2.5%;
}

.form-group-row {
  grid-area: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  justify-content: space-between;

}

.input-group label {
  font-weight: 700;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-block: 2vh;
}

form {
  width: 45vw;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 600px) {
  .contacts {
    flex-direction: column;
    padding: 0;
  }

  .form-group-row {
    display: flex;
    flex-direction: column;
  }
}

.contact-picture  {
  width: 35vw;
}

.message {
  height: 20vh;
  text-align: start;
  align-content: start;
}

.button-group {
  display: grid;
  grid-template-columns: 2fr 5vw 5vw;
  column-gap: 3vw;
}

.contacts-header {
  margin: 5vh 5%;
}

.send-button, .phone-button, .telegram-button {
  background-color: var(--accent-color);
  height: 5vw;
  border-radius: 5vh;
}

.send-button {
  margin: 0;
  padding: 5%;
}

.phone-button, .telegram-button {
  width: 5vw;
}

.phone-icon {
  height: 3vw;
  margin-top: 1vw;
  margin-left: 1vw;
}

.telegram-icon {
  height: 3.5vw;
  margin-top: 1vw;
  margin-left: 0.6vw;
}