#home-section {
  position: relative;
  --home-top-margin: 20%;
}

@media only screen and (max-width: 600px) {
  .home-page {
    margin-inline: 15vw;
  }
}

.home-page {
  display: flex;
}

.hire-button, 
.download-button{
  border-radius: 5vw;
}

.home-side-arrow {
  height: 15vw;
}

.side-image {
  padding-top: calc(var(--home-top-margin)*1.1);
  
}
.home-header {
  margin-top: var(--home-top-margin);
  padding: 0;
  font-size: 4vw;
  width: 80%;
}

.home-image {
  object-position: center;
}

.overlay-image {
  width: 70%
}

.hire-button {
  background-color: var(--accent-color);
}