#home-section {
  position: relative;
  --home-top-margin: 20%;
}

@media screen and (min-width: 601px) {
  .side-image {
    padding-top: calc(var(--home-top-margin)*1.1);
  }
}

@media only screen and (max-width: 600px) {
  .home-page {
    margin-left: 10%
  }
  .side-image {
    padding-top: calc(var(--home-top-margin)*1.1);
    
  }
}

.home-page {
  display: flex;
  margin-left: 10%
}

.hire-button, 
.download-button{
  border-radius: 5vw;
}

.home-side-arrow {
  height: 15vw;
}


.home-header {
  margin-top: var(--home-top-margin);
  padding: 0;
  font-size: 4vw;
  width: 100%;
}

.home-image {
  object-position: center;
  margin-block: calc(var(--home-top-margin)*0.2);
  
}

.overlay-image {
  width: 80%
}

.hire-button {
  background-color: var(--accent-color);
}


.download-icon {
  background-color: var(--element-color);
  width: 15%;
  margin-top: 1%;
  object-position: center;
  
}

.home-button-group {
  vertical-align: top;
  
}

.home-arrow-down-button {
  margin-left: 31.5%;
}

@media screen and (max-width: 600px) {
  .overlay-image {
    margin-left: 10%;
  }
  
}