header {
  background-color: var(--bg-color);
}

.my-name {
  font-family: Oswald;
}

@media only screen and (min-width: 601px) {
  .top-nav {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 0.5fr;
    column-gap: 1vw;
    align-items: center;
    vertical-align: middle;
    padding-block: 1%;

  }

  .top-nav a {
    font-size: 1.5vw;
  }

  .my-name {
    font-size: 2vw;   
  }

  .top-nav .icon {
    display: none;
  }

  .theme-icon {
    background-color: var(--element-color);
    border-radius: 3vw;
    width: 3vw;
  }
  
  .theme-button {
     width: 5vw;
     border-radius: 5vw;
     height: 5vw;
     
  }

  .top-nav {
    padding-inline: 5%;
  }
}

@media screen and (max-width: 600px) {
  .top-nav a:not(:first-child) {display: none;}
  .top-nav {
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 1%;
  }
  .top-nav .icon {
    float: right;
    display: block;
    margin-right: 0;
    background-color: transparent;
  }

  .theme-icon {
    background-color: var(--element-color);
    border-radius: 3vw;
    width: 4vw;
  }
  
  .theme-button {
     width: 6vw;
     border-radius: 5vw;
     height: 6vw;
     float: right;
     
     margin-right: 0;
     margin-bottom: 2%;
     padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .dropdown-link .responsive {position: relative;}
  .dropdown-link.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav .responsive a {
    float: left;
    display: block;
    text-align: left;
  }

  
}

header {
  position: sticky;
  top: 0;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--line-color);
  z-index: 4;
}

.top-nav .icon:hover, .theme-button:hover {
  cursor: pointer;
}
