.skills {
  background: url('../images/doodle-items.svg');
  width: 98.5vw;
  height: 100%;
  margin-top: 10%;
}
.skills-container {
  display: flex;
  margin-block: 10% 15%;
  margin-inline: 10%;
  padding-right: 0;
  justify-content: space-between;
}
.skills-header {
  margin-left: 5%;
  margin-top: 5vh;
}

.js-logo {
  width: 15vw;
}

.html-logo {
  width: 15vw;
}

.css-logo {
  width: 15vw;
}

.english-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -3vh;
}

.level {
  padding: 0;
  margin: 0;
  font-size: 13vw;
  font-weight: 700;
}

.language {
  padding: 0;
  margin: 0;
  font-size: 4vw;
  font-weight: 700;
}
